$body-color : #f5f6fa;
$blue-shade-1 : #4c84ff;
$base-white : #fff;

$green : #3cce61;
$body_color : #f2f4fa;
$text_color : #999;
$sidebar_color1 : #225bf4;
$sidebar_color2 : #5c62f1;
$link-hover: rgba(142, 177, 199, 1);
$heading-color: #666;
$light-grey : rgb(185, 185, 185);

// sidebar
$sidebar-width : 9rem;
$sidebar-profile-noti-width : 3rem;
$sidebar-profile-noti-height : 3rem;



$color11: hsla(203%, 34%, 67%, 1);
$color21: hsla(188%, 57%, 13%, 1);
$color31: hsla(150%, 65%, 62%, 1);
$color41: hsla(56%, 88%, 73%, 1);
$color51: hsla(358%, 79%, 70%, 1);


$color1: rgba(142, 177, 199, 1);
$color2: rgba(14, 46, 51, 1);
$color3: rgba(95, 221, 157, 1);
$color4: rgba(247, 238, 127, 1);
$color5: rgba(239, 118, 122, 1);

// font
$root-font : 62.5%;
$base-font: 1.6rem;
$heading-size-1 : 1.8rem;

